{% load static %}
<!-- Partners -->
<section>
  <div class="container container-xxl">
    <div class="py-lg-8 py-6 border-top">
      <div
        class="slick-slider mx-0 partners"
        data-slick-options='{"slidesToShow": 6, "autoplay":true,"dots":false,"arrows":false,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow":4}},{"breakpoint": 992,"settings": {"slidesToShow":3}},{"breakpoint": 768,"settings": {"slidesToShow": 3}},{"breakpoint": 576,"settings": {"slidesToShow": 2}}]}'
      >
        <div
          class="box d-flex align-items-center justify-content-center"
          data-animate="fadeInUp"
        >
          <a href="#" class="item position-relative hover-change-image">
            <img
              src="{% static 'images/partner-hover-1.png' %}"
              class="hover-image position-absolute pos-fixed-top"
              alt="Partner 1"
            />
            <img
              src="{% static 'images/partner-1.png' %}"
              alt="Partner 1"
              class="image"
            />
          </a>
        </div>
        <div
          class="box d-flex align-items-center justify-content-center"
          data-animate="fadeInUp"
        >
          <a href="#" class="item position-relative hover-change-image">
            <img
              src="{% static 'images/partner-hover-2.png' %}"
              class="hover-image position-absolute pos-fixed-top"
              alt="Partner 2"
            />
            <img
              src="{% static 'images/partner-2.png' %}"
              alt="Partner 2"
              class="image"
            />
          </a>
        </div>
        <div
          class="box d-flex align-items-center justify-content-center"
          data-animate="fadeInUp"
        >
          <a href="#" class="item position-relative hover-change-image">
            <img
              src="{% static 'images/partner-hover-3.png' %}"
              class="hover-image position-absolute pos-fixed-top"
              alt="Partner 3"
            />
            <img
              src="{% static 'images/partner-3.png' %}"
              alt="Partner 3"
              class="image"
            />
          </a>
        </div>
        <div
          class="box d-flex align-items-center justify-content-center"
          data-animate="fadeInUp"
        >
          <a href="#" class="item">
            <img
              src="{% static 'images/partner-4.png' %}"
              alt=""
              class="image"
            />
          </a>
        </div>
        <div
          class="box d-flex align-items-center justify-content-center"
          data-animate="fadeInUp"
        >
          <a href="#" class="item position-relative hover-change-image">
            <img
              src="{% static 'images/partner-hover-5.png' %}"
              class="hover-image position-absolute pos-fixed-top"
              alt="Partner 5"
            />
            <img
              src="{% static 'images/partner-5.png' %}"
              alt="Partner 5"
              class="image"
            />
          </a>
        </div>
        <div
          class="box d-flex align-items-center justify-content-center"
          data-animate="fadeInUp"
        >
          <a href="#" class="item">
            <img
              src="{% static 'images/partner-6.png' %}"
              alt=""
              class="image"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>