{% extends 'homeid/layout.html' %} {% load static %} {% load i18n %}
{% block content %}
<main id="content">
  <section class="pt-9 pb-10">
    <div class="container">
      <div class="text-center mb-15">
        <img src="{% static 'images/page-404.jpg' %}" alt="Page 404" class="mb-5" />
        <h1 class="fs-30 lh-16 text-dark font-weight-600 mb-5">
          {% trans "Oops! That page can't be found." %}
        </h1>
        <p class="mb-8">
          {% trans "It looks like nothing was found at this location" %}
        </p>
        <a href="{% url 'home' %}" class="btn btn-lg btn-primary">
          {% trans "Home Page" %}
        </a>
      </div>
    </div>
  </section>
</main>
{% endblock %}
