{% extends 'homeid/layout.html' %} {% load static %} {% load i18n %} {% block content %}
<main id="content">
  <section
    style="background-image: url('{{ about_us_content.hero_image.url }}')"
    class="bg-img-cover-center py-10 pt-md-16 pb-md-17 bg-overlay"
  >
    <div class="container position-relative z-index-2 text-center">
      {% comment %} <a
        href="http://www.youtube.com/watch?v=0O2aH4XLbto"
        class="d-inline-block m-auto position-relative play-animation"
        data-gtf-mfp="true"
        data-mfp-options='{"type":"iframe"}'
      >
        <span
          class="text-white bg-primary w-78px h-78 rounded-circle d-flex align-items-center justify-content-center"
        >
          <i class="fas fa-play"></i>
        </span>
      </a> {% endcomment %}
      <div class="mxw-751">
        <h1
          class="text-white fs-30 fs-md-42 lh-15 font-weight-normal mt-4 mb-10"
          data-animate="fadeInRight"
        >
          {{ about_us_content.hero_title }}
        </h1>
      </div>
    </div>
  </section>
  <section class="bg-patten-03 bg-gray-01 pb-13">
    <div class="container">
      <div class="card border-0 mt-n13 z-index-3 mb-12">
        <div class="card-body p-6 px-lg-14 py-lg-13">
          <p
            class="letter-spacing-263 text-uppercase text-primary mb-6 font-weight-500 text-center"
          >
            {{ about_us_content.main_subtitle }}
          </p>
          <h2 class="text-heading mb-4 fs-22 fs-md-32 text-center lh-16 px-6">
            {{ about_us_content.main_title }}
          </h2>
          <p class="text-center px-lg-11 fs-15 lh-17 mb-11">
            {{ about_us_content.main_content }}
          </p>
        </div>
      </div>
      <h2 class="text-dark lh-1625 text-center mb-2 fs-22 fs-md-32">
        {{ about_us_content.our_services_title }}
      </h2>
      <p class="mxw-751 text-center mb-1 px-8">
        {{ about_us_content.our_services_content }}
      </p>
      {% comment %} <div class="row mt-8">
        <div class="col-md-4 mb-6 mb-lg-0">
          <div class="card shadow-2 px-7 pb-6 pt-4 h-100 border-0">
            <div
              class="card-img-top d-flex align-items-end justify-content-center"
            >
              <span class="text-primary fs-90 lh-1"
                ><svg class="icon icon-e1">
                  <use xlink:href="#icon-e1"></use></svg
              ></span>
            </div>
            <div class="card-body px-0 pt-6 pb-0 text-center">
              <h4 class="card-title fs-18 lh-17 text-dark mb-2">
                Property Management
              </h4>
              <p class="card-text px-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna
              </p>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
  </section>
  {% if about_us_content.office_coordinates %}
  <section>
    <div>
      <div class="position-relative">
        <div
          id="map-inside"
          class="mapbox-gl map-point-animate map"
          style="height: 550px"
          data-mapbox-access-token="pk.eyJ1IjoibHVrYWRhdGFjeSIsImEiOiJjbWFtZWs5c3EwZzV5MnBzNGVzdXk0cXNiIn0.tfUSq0hYimUnpRBZCHvJKg"
          data-mapbox-options='{"center":[{{ about_us_content.office_coordinates.lng }}, {{ about_us_content.office_coordinates.lat }}], "setLngLat":[{{ about_us_content.office_coordinates.lng }}, {{ about_us_content.office_coordinates.lat }}]}'
          data-mapbox-marker='[{"position":[{{ about_us_content.office_coordinates.lng }}, {{ about_us_content.office_coordinates.lat }}],"className":"marker","backgroundImage":"images/googlle-market-01.png","backgroundRepeat":"no-repeat","width":"32px","height":"40px"}]'
        ></div>
        {% if about_us_content.office_location_address %}
        <div class="container">
          <div class="map-info position-absolute">
            <div class="card border-0 shadow-xs-4">
              <div class="card-body pl-7 pr-6 pt-7 pb-10">
                <h5 class="fs-16 lh-2 mb-0">
                  {% trans "Visit our office at" %}
                </h5>
                <p class="mb-0">
                  {{ about_us_content.office_location_address }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
  {% endif %}
  <section class="pt-12 pb-10">
    <div class="container">
      <h2 class="text-heading mb-4 fs-22 fs-md-32 text-center lh-16 px-md-13">
        {{ about_us_content.bottom_section_title }}
      </h2>
      <p class="text-center px-md-17 fs-15 lh-17 mb-8">
        {{ about_us_content.bottom_section_content }}
      </p>
      <div class="text-center">
        <a
          href="tel:{{ about_us_content.contact_phone }}"
          class="btn btn-lg btn-primary"
        >
          {% trans "Call Us At" %} {{ about_us_content.contact_phone }}
        </a>
      </div>
    </div>
  </section>
</main>
{% endblock %}
