{% extends 'homeid/layout.html' %} {% load static %} {% load i18n %}
{% block content %}
<main id="content">
  <section class="d-flex flex-column">
    <div
      style="background-image: url('{{ home_page_content.hero_image.url }}')"
      class="bg-cover d-flex align-items-center custom-vh-100"
    >
      <div class="container pt-lg-15 py-8" data-animate="zoomIn">
        <p
          class="text-white fs-md-22 fs-18 font-weight-500 letter-spacing-367 mb-6 text-center text-uppercase"
        >
          {{ home_page_content.hero_subtitle }}
        </p>
        <h2 class="text-white display-2 text-center mb-sm-13 mb-8">
          {{ home_page_content.hero_title }}
        </h2>
        <form
          class="property-search py-lg-0 z-index-2 position-relative d-none d-lg-block"
          action="{% url 'property:index' %}"
          method="get"
        >
          <div class="row no-gutters">
            <div class="col-md-5 col-lg-4 col-xl-3">
              <input
                class="search-field"
                type="hidden"
                name="deal_type"
                value="SALE"
                data-default-value=""
              />
              <ul class="nav nav-pills property-search-status-tab">
                <li
                  class="nav-item bg-secondary rounded-top"
                  role="presentation"
                >
                  <a
                    href="#"
                    role="tab"
                    aria-selected="true"
                    class="nav-link btn shadow-none rounded-bottom-0 text-white text-btn-focus-secondary text-uppercase d-flex align-items-center fs-13 rounded-bottom-0 bg-active-white text-active-secondary letter-spacing-087 flex-md-1 px-4 py-2 active"
                    data-toggle="pill"
                    data-value="SALE"
                  >
                    {% trans "for sale" %}
                  </a>
                </li>
                <li
                  class="nav-item bg-secondary rounded-top"
                  role="presentation"
                >
                  <a
                    href="#"
                    role="tab"
                    aria-selected="true"
                    class="nav-link btn shadow-none rounded-bottom-0 text-white text-btn-focus-secondary text-uppercase d-flex align-items-center fs-13 rounded-bottom-0 bg-active-white text-active-secondary letter-spacing-087 flex-md-1 px-4 py-2"
                    data-toggle="pill"
                    data-value="RENT"
                  >
                    {% trans "for rent" %}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="bg-white px-6 rounded-bottom rounded-top-right pb-6 pb-lg-0"
          >
            <div class="row align-items-center" id="accordion-4">
              <div class="col-md-6 col-lg-3 col-xl-3 pt-6 pt-lg-0 order-1">
                <label
                  class="text-uppercase font-weight-500 letter-spacing-093 mb-1"
                  >{% trans "Home Type" %}</label
                >
                <select
                  class="form-control selectpicker bg-transparent border-bottom rounded-0 border-color-input"
                  title="Select"
                  data-style="p-0 h-24 lh-17 text-dark"
                  name="type"
                >
                  {% for home_type in filter_properties.home_types %}
                    <option value="{{ home_type.0 }}">{{ home_type.1 }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-5 pt-6 pt-lg-0 order-2">
                <label class="text-uppercase font-weight-500 letter-spacing-093"
                  >{% trans "Search" %}</label
                >
                <div class="position-relative">
                  <input type="text" name="search" class="form-control
                  bg-transparent shadow-none border-top-0 border-right-0
                  border-left-0 border-bottom rounded-0 h-24 lh-17 pl-0 pr-4
                  font-weight-600 border-color-input placeholder-muted"
                  placeholder="{% trans "Find something..." %}" />
                  <i
                    class="far fa-search position-absolute pos-fixed-right-center pr-0 fs-18 mt-n3"
                  ></i>
                </div>
              </div>
              <div class="col-sm pr-lg-0 pt-6 pt-lg-0 order-3">
                <a
                  href="#advanced-search-filters-4"
                  class="btn advanced-search btn-accent h-lg-100 shadow-none text-secondary rounded-0 fs-14 fs-sm-16 font-weight-600 text-left d-flex align-items-center collapsed"
                  data-toggle="collapse"
                  data-target="#advanced-search-filters-4"
                  aria-expanded="true"
                  aria-controls="advanced-search-filters-4"
                  style="white-space: nowrap; width: 180px;"
                >
                  {% trans "More Filters" %}
                </a>
              </div>
              <div class="col-sm pt-6 pt-lg-0 order-sm-4 order-5">
                <button
                  type="submit"
                  class="btn btn-primary shadow-none fs-16 font-weight-600 w-100 py-lg-2 lh-213"
                >
                  {% trans "Search" %}
                </button>
              </div>
              <div
                id="advanced-search-filters-4"
                class="col-12 pt-4 pb-sm-4 order-sm-5 order-4 collapse"
                data-parent="#accordion-4"
              >
                <div class="row">
                  <div class="col-sm-6 col-lg-3 pt-6">
                    <label
                      class="text-uppercase font-weight-500 letter-spacing-093 mb-1"
                      >{% trans "Bedrooms" %}</label
                    >
                    <select
                      class="form-control selectpicker bg-transparent border-bottom rounded-0 border-color-input"
                      name="bedrooms"
                      title="All Bedrooms"
                      data-style="p-0 h-24 lh-17 text-dark"
                    >
                      <option value="">{% trans "All Bedrooms" %}</option>
                      {% for bedroom in filter_properties.bedroom_list %}
                        <option value="{{ bedroom.0 }}">{{ bedroom.1 }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-sm-6 col-lg-3 pt-6">
                    <label
                      class="text-uppercase font-weight-500 letter-spacing-093 mb-1"
                      >{% trans "All Cities" %}</label
                    >
                    <select
                      class="form-control selectpicker bg-transparent border-bottom rounded-0 border-color-input"
                      name="city"
                      title="{% trans "All Cities" %}"
                      data-style="p-0 h-24 lh-17 text-dark"
                    >
                      <option value="">{% trans "All Cities" %}</option>
                      {% for city in filter_properties.city_list %}
                        <option value="{{ city.0 }}">{{ city.1 }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row pt-2">
                  <div
                    class="col-md-6 col-lg-4 pt-6 slider-range slider-range-secondary"
                  >
                    <label for="price-1-4" class="mb-4 text-gray-light"
                      >{% trans "Price Range" %}</label
                    >
                    <div
                      data-slider="true"
                      data-slider-options='{"min":0,"max":{{ filter_properties.price_range_max }},"values":[0,{{ filter_properties.price_range_max }}],"type":"currency"}'
                    ></div>
                    <div class="text-center mt-2">
                      <input
                        id="price-1-4"
                        type="text"
                        readonly
                        name="price"
                        class="border-0 amount text-center text-body font-weight-500 bg-transparent"
                      />
                    </div>
                  </div>
                  <div
                    class="col-md-6 col-lg-4 pt-6 slider-range slider-range-secondary"
                  >
                    <label for="area-size-4" class="mb-4 text-gray-light"
                      >{% trans "Area Size" %}</label
                    >
                    <div
                      data-slider="true"
                      data-slider-options='{"min":0,"max":{{ filter_properties.area_range_max }},"values":[0,{{ filter_properties.area_range_max }}],"type":"sqmt"}'
                    ></div>
                    <div class="text-center mt-2">
                      <input
                        id="area-size-4"
                        type="text"
                        readonly
                        name="area"
                        class="border-0 amount text-center text-body font-weight-500 bg-transparent"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3 pt-6">
                    <label
                      class="text-uppercase font-weight-500 letter-spacing-093 mb-1"
                      >{% trans "Property ID" %}</label
                    >
                    <input
                      type="text"
                      name="property_id"
                      class="form-control bg-transparent shadow-none border-top-0 border-right-0 border-left-0 border-bottom rounded-0 h-24 lh-17 p-0 font-weight-600 border-color-input"
                      placeholder="Enter ID..."
                    />
                  </div>
                  {% comment %} <div class="col-12 pt-6 pb-2">
                    <a
                      class="lh-17 d-inline-block other-feature collapsed"
                      data-toggle="collapse"
                      href="#other-feature-4"
                      role="button"
                      aria-expanded="false"
                      aria-controls="other-feature-4"
                    >
                      <span
                        class="fs-15 text-heading font-weight-500 hover-primary"
                        >{% trans "Other Features" %}</span
                      >
                    </a>
                  </div> {% endcomment %}
                  <div class="collapse row mx-0 w-100" id="other-feature-4">
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check1-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check1-4"
                          >{% trans "Air Conditioning" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check2-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check2-4"
                          >{% trans "Laundry" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check4-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check4-4"
                          >{% trans "Washer" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check5-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check5-4"
                          >{% trans "Barbeque" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check6-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check6-4"
                          >{% trans "Lawn" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check7-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check7-4"
                          >{% trans "Sauna" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check8-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check8-4"
                          >{% trans "WiFi" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check9-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check9-4"
                          >{% trans "Dryer" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check10-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check10-4"
                          >{% trans "Microwave" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check11-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check11-4"
                          >{% trans "Swimming Pool" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check12-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check12-4"
                          >{% trans "Window Coverings" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check13-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check13-4"
                          >{% trans "Gym" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check14-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check14-4"
                          >{% trans "Outdoor Shower" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check15-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check15-4"
                          >{% trans "TV Cable" %}</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 py-2">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="check16-4"
                          name="features[]"
                        />
                        <label class="custom-control-label" for="check16-4"
                          >{% trans "Refrigerator" %}</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form
          class="property-search property-search-mobile d-lg-none z-index-2 position-relative bg-white rounded mx-md-10"
          action="{% url 'property:index' %}"
          method="get"
        >
          <div class="row align-items-lg-center" id="accordion-4-mobile">
            <div class="col-12">
              <div class="form-group mb-0 position-relative">
                <a
                  href="#advanced-search-filters-4-mobile"
                  class="text-secondary btn advanced-search shadow-none pr-3 pl-0 d-flex align-items-center position-absolute pos-fixed-left-center py-0 h-100 border-right collapsed"
                  data-toggle="collapse"
                  data-target="#advanced-search-filters-4-mobile"
                  aria-expanded="true"
                  aria-controls="advanced-search-filters-4-mobile"
                >
                </a>
                <input
                  type="text"
                  class="form-control form-control-lg border shadow-none pr-9 pl-11 bg-white placeholder-muted"
                  name="key-word"
                  placeholder="Search..."
                />
                <button
                  type="submit"
                  class="btn position-absolute pos-fixed-right-center p-0 text-heading fs-20 px-3 shadow-none h-100 border-left"
                >
                  <i class="far fa-search"></i>
                </button>
              </div>
            </div>
            <div
              id="advanced-search-filters-4-mobile"
              class="col-12 pt-2 px-7 collapse"
              data-parent="#accordion-4-mobile"
            >
              <div class="row mx-n2">
                <div class="col-sm-6 pt-4 px-2">
                  <select
                    class="form-control border shadow-none form-control-lg selectpicker bg-transparent"
                    title="Select"
                    data-style="btn-lg py-2 h-52 bg-transparent"
                    name="type"
                  >
                    <option value="">{% trans "All Status" %}</option>
                    {% for status in filter_properties.status_list %}
                    <option value="{{ status.0 }}">{{ status.1 }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-sm-6 pt-4 px-2">
                  <select
                    class="form-control border shadow-none form-control-lg selectpicker bg-transparent"
                    title="All Types"
                    data-style="btn-lg py-2 h-52 bg-transparent"
                    name="type"
                  >
                  {% for home_type in filter_properties.home_types %}
                    <option value="{{ home_type.0 }}">{{ home_type.1 }}</option>
                  {% endfor %}
                  </select>
                </div>
                <div class="col-sm-6 pt-4 px-2">
                  <select
                    class="form-control border shadow-none form-control-lg selectpicker bg-transparent"
                    name="bedrooms"
                    title="Bedrooms"
                    data-style="btn-lg py-2 h-52 bg-transparent"
                  >
                    <option value="">{% trans "All Bedrooms" %}</option>
                    {% for bedroom in filter_properties.bedroom_list %}
                    <option value="{{ bedroom.0 }}">{{ bedroom.1 }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-sm-6 pt-4 px-2">
                  <select
                    class="form-control border shadow-none form-control-lg selectpicker bg-transparent"
                    title="All Cities"
                    data-style="btn-lg py-2 h-52 bg-transparent"
                    name="city"
                  >
                    {% for city in filter_properties.city_list %}
                    <option value="{{ city.0 }}">{{ city.1 }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pt-6 slider-range slider-range-secondary">
                  <label for="price-4-mobile" class="mb-4"
                    >{% trans "Price Range" %}</label
                  >
                  <div
                    data-slider="true"
                    data-slider-options='{"min":0,"max":{{ filter_properties.price_range_max }},"values":[0,{{ filter_properties.price_range_max }}],"type":"currency"}'
                  ></div>
                  <div class="text-center mt-2">
                    <input
                      id="price-4-mobile"
                      type="text"
                      readonly
                      class="border-0 amount text-center bg-transparent font-weight-500"
                      name="price"
                    />
                  </div>
                </div>
                <div class="col-md-6 pt-6 slider-range slider-range-secondary">
                  <label for="area-size-4-mobile" class="mb-4"
                    >{% trans "Area Size" %}</label
                  >
                  <div
                    data-slider="true"
                    data-slider-options='{"min":0,"max":{{ filter_properties.area_range_max }},"values":[0,{{ filter_properties.area_range_max }}],"type":"sqmt"}'
                  ></div>
                  <div class="text-center mt-2">
                    <input
                      id="area-size-4-mobile"
                      type="text"
                      readonly
                      class="border-0 amount text-center bg-transparent font-weight-500"
                      name="area"
                    />
                  </div>
                </div>
                <div class="col-12 pb-6"></div>
                {% comment %} <div class="col-12 pt-4 pb-2">
                  <a
                    class="lh-17 d-inline-block other-feature collapsed"
                    data-toggle="collapse"
                    href="#other-feature-4-mobile"
                    role="button"
                    aria-expanded="false"
                    aria-controls="other-feature-4-mobile"
                  >
                    <span class="fs-15 font-weight-500 hover-primary"
                      >Other Features</span
                    >
                  </a>
                </div> {% endcomment %}
                <div
                  class="collapse row mx-0 w-100"
                  id="other-feature-4-mobile"
                >
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check1-4-mobile"
                      />
                      <label class="custom-control-label" for="check1-4-mobile"
                        >Air Conditioning</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check2-4-mobile"
                      />
                      <label class="custom-control-label" for="check2-4-mobile"
                        >Laundry</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check4-4-mobile"
                      />
                      <label class="custom-control-label" for="check4-4-mobile"
                        >Washer</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check5-4-mobile"
                      />
                      <label class="custom-control-label" for="check5-4-mobile"
                        >Barbeque</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check6-4-mobile"
                      />
                      <label class="custom-control-label" for="check6-4-mobile"
                        >Lawn</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check7-4-mobile"
                      />
                      <label class="custom-control-label" for="check7-4-mobile"
                        >Sauna</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check8-4-mobile"
                      />
                      <label class="custom-control-label" for="check8-4-mobile"
                        >WiFi</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check9-4-mobile"
                      />
                      <label class="custom-control-label" for="check9-4-mobile"
                        >Dryer</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check10-4-mobile"
                      />
                      <label class="custom-control-label" for="check10-4-mobile"
                        >Microwave</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check11-4-mobile"
                      />
                      <label class="custom-control-label" for="check11-4-mobile"
                        >Swimming Pool</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check12-4-mobile"
                      />
                      <label class="custom-control-label" for="check12-4-mobile"
                        >Window Coverings</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check13-4-mobile"
                      />
                      <label class="custom-control-label" for="check13-4-mobile"
                        >Gym</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check14-4-mobile"
                      />
                      <label class="custom-control-label" for="check14-4-mobile"
                        >Outdoor Shower</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check15-4-mobile"
                      />
                      <label class="custom-control-label" for="check15-4-mobile"
                        >TV Cable</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-6 py-2">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        name="features[]"
                        id="check16-4-mobile"
                      />
                      <label class="custom-control-label" for="check16-4-mobile"
                        >Refrigerator</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  {% if featured_properties_for_sale|length > 0 %}
  <section class="pt-lg-12 pb-lg-10 py-11">
    <div class="container container-xxl">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-heading">{% trans "Best Properties For Sale" %}</h2>
          <span class="heading-divider"></span>
          <p class="mb-6">
            Lorem ipsum dolor sit amet, consec tetur cing elit. Suspe ndisse
            suscipit
          </p>
        </div>
        <div class="col-md-6 text-md-right">
          <a
            href="{% url 'property:index' %}"
            class="btn fs-14 text-secondary btn-accent py-3 lh-15 px-7 mb-6 mb-lg-0"
            >{% trans "See all properties" %}
            <i class="far fa-long-arrow-right ml-1"></i>
          </a>
        </div>
      </div>
      <div
        class="slick-slider slick-dots-mt-0 custom-arrow-spacing-30"
        data-slick-options='{"slidesToShow": 4, "autoplay":true,"dots":true,"responsive":[{"breakpoint": 1600,"settings": {"slidesToShow":3,"arrows":false}},{"breakpoint": 992,"settings": {"slidesToShow":2,"arrows":false}},{"breakpoint": 768,"settings": {"slidesToShow": 2,"arrows":false,"dots":true,"autoplay":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"arrows":false,"dots":true,"autoplay":true}}]}'
      >
        {% for item in featured_properties_for_sale %}
        <div class="box pb-7 pt-2">
          {% include "homeid/components/home-listing-box.html" %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
  <section>
    <div class="bg-gray-02 py-lg-13 pt-11 pb-6">
      <div class="container container-xxl">
        <div class="row">
          <div class="col-lg-4 pr-xl-13" data-animate="fadeInLeft">
            <h2 class="text-heading lh-1625">
              Explore <br />
              by Property Type
            </h2>
            <span class="heading-divider"></span>
            <p class="mb-6">
              Lorem ipsum dolor sit amet, consec tetur cing elit. Suspe ndisse
              suscipit
            </p>
            <a
              href="{% url 'property:index' %}"
              class="btn btn-lg text-secondary btn-accent"
              >{% trans "See Available Properties" %}
              <i class="far fa-long-arrow-right ml-1"></i>
            </a>
          </div>
          <div class="col-lg-8" data-animate="fadeInRight">
            <div
              class="slick-slider arrow-haft-inner custom-arrow-xxl-hide mx-0"
              data-slick-options='{"slidesToShow": 4, "autoplay":true,"dots":false,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow":3,"arrows":false}},{"breakpoint": 992,"settings": {"slidesToShow":3,"arrows":false}},{"breakpoint": 768,"settings": {"slidesToShow": 3,"arrows":false,"autoplay":true}},{"breakpoint": 576,"settings": {"slidesToShow": 2,"arrows":false,"autoplay":true}}]}'
            >
              <div class="box px-0 py-6">
                <a
                  href="{% url 'property:index' %}"
                  class="card border-0 align-items-center justify-content-center pt-7 pb-5 px-3 shadow-hover-3 bg-transparent bg-hover-white text-decoration-none"
                >
                  <img
                    src="{% static 'images/verified.png' %}"
                    class="card-img-top"
                    alt="Apartment"
                  />
                  <div class="card-body px-0 pt-5 pb-0">
                    <h4 class="card-title fs-16 lh-2 text-dark mb-0">
                      Apartment
                    </h4>
                  </div>
                </a>
              </div>
              <div class="box px-0 py-6">
                <a
                  href="{% url 'property:index' %}"
                  class="card border-0 align-items-center justify-content-center pt-7 pb-5 px-3 shadow-hover-3 bg-transparent bg-hover-white text-decoration-none"
                >
                  <img
                    src="{% static 'images/sofa.png' %}"
                    class="card-img-top"
                    alt="House"
                  />
                  <div class="card-body px-0 pt-5 pb-0">
                    <h4 class="card-title fs-16 lh-2 text-dark mb-0">House</h4>
                  </div>
                </a>
              </div>
              <div class="box px-0 py-6">
                <a
                  href="{% url 'property:index' %}"
                  class="card border-0 align-items-center justify-content-center pt-7 pb-5 px-3 shadow-hover-3 bg-transparent bg-hover-white text-decoration-none"
                >
                  <img
                    src="{% static 'images/architecture-and-city.png' %}"
                    class="card-img-top"
                    alt="Office"
                  />
                  <div class="card-body px-0 pt-5 pb-0">
                    <h4 class="card-title fs-16 lh-2 text-dark mb-0">Office</h4>
                  </div>
                </a>
              </div>
              <div class="box px-0 py-6">
                <a
                  href="{% url 'property:index' %}"
                  class="card border-0 align-items-center justify-content-center pt-7 pb-5 px-3 shadow-hover-3 bg-transparent bg-hover-white text-decoration-none"
                >
                  <img
                    src="{% static 'images/eco-house.png' %}"
                    class="card-img-top"
                    alt="Villa"
                  />
                  <div class="card-body px-0 pt-5 pb-0">
                    <h4 class="card-title fs-16 lh-2 text-dark mb-0">Villa</h4>
                  </div>
                </a>
              </div>
              <div class="box px-0 py-6">
                <a
                  href="{% url 'property:index' %}"
                  class="card border-0 align-items-center justify-content-center pt-7 pb-5 px-3 shadow-hover-3 bg-transparent bg-hover-white text-decoration-none"
                >
                  <img
                    src="{% static 'images/verified.png' %}"
                    class="card-img-top"
                    alt="Apartment"
                  />
                  <div class="card-body px-0 pt-5 pb-0">
                    <h4 class="card-title fs-16 lh-2 text-dark mb-0">
                      Apartment
                    </h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if featured_properties_for_rent|length > 0 %}
  <section class="pt-lg-12 pb-lg-11 py-11">
    <div class="container container-xxl">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-heading">{% trans "Best Properties For Rent" %}</h2>
          <span class="heading-divider"></span>
          <p class="mb-6">
            Lorem ipsum dolor sit amet, consec tetur cing elit. Suspe ndisse
            suscipit
          </p>
        </div>
        <div class="col-md-6 text-md-right">
          <a
            href="{% url 'property:index' %}"
            class="btn fs-14 text-secondary btn-accent py-3 lh-15 px-7 mb-6 mb-lg-0"
            >{% trans "See all properties" %}
            <i class="far fa-long-arrow-right ml-1"></i>
          </a>
        </div>
      </div>
      <div
        class="slick-slider slick-dots-mt-0 custom-arrow-spacing-30"
        data-slick-options='{"slidesToShow": 4,"dots":true,"arrows":false,"responsive":[{"breakpoint": 1600,"settings": {"slidesToShow":3}},{"breakpoint": 992,"settings": {"slidesToShow":2,"arrows":false}},{"breakpoint": 768,"settings": {"slidesToShow": 2,"arrows":false,"dots":true,"autoplay":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"arrows":false,"dots":true,"autoplay":true}}]}'
      >
        {% for item in featured_properties_for_rent %}
        <div class="box box pb-7 pt-2" data-animate="fadeInUp">
          {% include "homeid/components/home-listing-box.html" %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
  <section>
    <div class="bg-single-image pt-lg-13 pb-lg-12 py-11 bg-secondary">
      <div class="container container-xxl">
        <div class="row align-items-center">
          <div class="col-lg-6 pr-xl-8 pb-lg-0 pb-6" data-animate="fadeInLeft">
            <a href="{% url 'property:index' %}" class="hover-shine d-block">
              <img
                src="{% static 'images/single-image-01.jpg' %}"
                class="rounded-lg w-100"
                alt="Find your neighborhood"
              />
            </a>
          </div>
          <div class="col-lg-6 pl-xl-8" data-animate="fadeInRight">
            <h2 class="text-white lh-1625">
              Find your<br />
              neighborhood
            </h2>
            <span class="heading-divider"></span>
            <p class="mb-6 text-white">
              Lorem ipsum dolor sit amet, consec tetur cing elit. Suspe ndisse
            </p>
            <form action="{% url 'property:index' %}" method="get">
              <div class="input-group input-group-lg pr-sm-17">
                <input
                  type="text"
                  class="form-control fs-13 font-weight-500 text-gray-light rounded-lg rounded-right-0 border-0 shadow-none h-52 bg-white"
                  name="search"
                  placeholder="{% trans 'Enter an address, neighbourhood' %}"
                />
                <button
                  type="submit"
                  class="btn btn-primary fs-18 rounded-left-0 rounded-lg px-6 border-0"
                >
                  <i class="far fa-search"></i>
                  </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% comment %} {% include "homeid/components/partners-section.html" %} {% endcomment %}
</main>
{% endblock %}
