{% extends 'homeid/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <main id="content">
      <section class="bg-secondary py-6 py-lg-0">
        <div class="container">
          <form class="search-form d-none d-lg-block">
            <div class="row align-items-center">
              <div class="col-lg-5">
                <div class="row">
                  <div class="col-md-6">
                    <label
                      class="text-uppercase font-weight-500 opacity-7 text-white letter-spacing-093 mb-1"
                      >Home Type</label
                    >
                    <select
                      class="form-control selectpicker bg-transparent border-bottom rounded-0 border-input-opacity-02"
                      name="type"
                      title="Select"
                      data-style="p-0 h-24 lh-17 text-white"
                    >
                      <option>Condominium</option>
                      <option>Single-Family Home</option>
                      <option>Townhouse</option>
                      <option>Multi-Family Home</option>
                    </select>
                  </div>
                  <div class="col-md-6 pl-md-3 pt-md-0 pt-6">
                    <label
                      class="text-uppercase font-weight-500 opacity-7 text-white letter-spacing-093 mb-1"
                      >Location</label
                    >
                    <select
                      class="form-control selectpicker bg-transparent border-bottom rounded-0 border-input-opacity-02"
                      name="location"
                      title="Select"
                      data-style="p-0 h-24 lh-17 text-white"
                    >
                      <option>Austin</option>
                      <option>Boston</option>
                      <option>Chicago</option>
                      <option>Denver</option>
                      <option>Los Angeles</option>
                      <option>New York</option>
                      <option>San Francisco</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-5 pt-lg-0 pt-6">
                <label
                  class="text-uppercase font-weight-500 opacity-7 text-white letter-spacing-093"
                  >Search</label
                >
                <div class="position-relative">
                  <input
                    type="text"
                    name="search"
                    class="form-control bg-transparent shadow-none border-top-0 border-right-0 border-left-0 border-bottom rounded-0 h-24 lh-17 p-0 pr-md-5 text-white placeholder-light font-weight-500 border-input-opacity-02"
                    placeholder="Enter an address, neighbourhood..."
                  />
                  <i
                    class="far fa-search position-absolute pos-fixed-right-center pr-0 fs-18 text-white pb-2 d-none d-md-block"
                  ></i>
                </div>
              </div>
              <div class="col-12 col-lg-2 pt-lg-0 pt-7">
                <button
                  type="submit"
                  class="btn bg-white-opacity-01 bg-white-hover-opacity-03 h-lg-100 w-100 shadow-none text-white rounded-0 fs-16 font-weight-600"
                >
                  Search
                </button>
              </div>
            </div>
          </form>
          <form class="property-search property-search-mobile d-lg-none">
            <div class="row align-items-lg-center" id="accordion-mobile">
              <div class="col-12">
                <div class="form-group mb-0 position-relative">
                  <a
                    href="#advanced-search-filters-mobile"
                    class="icon-primary btn advanced-search shadow-none pr-3 pl-0 d-flex align-items-center position-absolute pos-fixed-left-center py-0 h-100 border-right collapsed"
                    data-toggle="collapse"
                    data-target="#advanced-search-filters-mobile"
                    aria-expanded="true"
                    aria-controls="advanced-search-filters-mobile"
                  >
                  </a>
                  <input
                    type="text"
                    class="form-control form-control-lg border-0 shadow-none pr-9 pl-11 bg-white placeholder-muted"
                    name="key-word"
                    placeholder="Search..."
                  />
                  <button
                    type="submit"
                    class="btn position-absolute pos-fixed-right-center p-0 text-heading fs-20 px-3 shadow-none h-100 border-left bg-white"
                  >
                    <i class="far fa-search"></i>
                  </button>
                </div>
              </div>
              <div
                id="advanced-search-filters-mobile"
                class="col-12 pt-2 collapse"
                data-parent="#accordion-mobile"
              >
                <div class="row mx-n2">
                  <div class="col-sm-6 pt-4 px-2">
                    <select
                      class="form-control border-0 shadow-none form-control-lg selectpicker bg-white"
                      title="Home Types"
                      data-style="btn-lg py-2 h-52 bg-white"
                      name="type"
                    >
                      <option>Condominium</option>
                      <option>Single-Family Home</option>
                      <option>Townhouse</option>
                      <option>Multi-Family Home</option>
                    </select>
                  </div>
                  <div class="col-sm-6 pt-4 px-2">
                    <select
                      class="form-control border-0 shadow-none form-control-lg selectpicker bg-white"
                      name="bedroom"
                      title="Location"
                      data-style="btn-lg py-2 h-52 bg-white"
                    >
                      <option>Austin</option>
                      <option>Boston</option>
                      <option>Chicago</option>
                      <option>Denver</option>
                      <option>Los Angeles</option>
                      <option>New York</option>
                      <option>San Francisco</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
      <section class="bg-gray-01 py-8 py-lg-0">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb py-3">
              <li class="breadcrumb-item letter-spacing-1">
                <a href="{% url 'home' %}">{% trans "Home" %}</a>
              </li>
              <li class="breadcrumb-item letter-spacing-1">
                <a href="{% url 'property:index' %}">{% trans "Listings" %}</a>
              </li>
              <li class="breadcrumb-item letter-spacing-1 active">
                {{ property.name }}
              </li>
            </ol>
          </nav>
        </div>
      </section>
      <div class="primary-content bg-gray-01 pb-12">
        <div class="container">
          <div class="row">
            <article class="col-lg-8">
              <section>
                <div class="galleries position-relative">
                  <div
                    class="slick-slider slider-for-01 arrow-haft-inner mx-0"
                    data-slick-options='{"slidesToShow": 1, "autoplay":false,"dots":false,"arrows":false,"asNavFor": ".slider-nav-01"}'
                  >
                    {% for image in property.get_images %}
                    <div class="box px-0">
                      <div class="item item-size-3-2">
                        <div class="card p-0 hover-change-image">
                          <a
                            href="{{ image.image.url }}"
                            class="card-img"
                            data-gtf-mfp="true"
                            data-gallery-id="04"
                            style="
                              background-image: url('{{ image.image.url }}');
                            "
                          >
                          </a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div
                    class="slick-slider slider-nav-01 mt-4 mx-n1 arrow-haft-inner"
                    data-slick-options='{"slidesToShow": 5, "autoplay":false,"dots":false,"arrows":false,"asNavFor": ".slider-for-01","focusOnSelect": true,"responsive":[{"breakpoint": 768,"settings": {"slidesToShow": 4}},{"breakpoint": 576,"settings": {"slidesToShow": 2}}]}'
                  >
                    {% for image in property.get_images %}
                    <div class="box pb-6 px-0">
                      <div
                        class="bg-hover-white p-1 shadow-hover-xs-3 h-100 rounded-lg"
                      >
                        <img
                          src="{{ image.image.url }}"
                          alt="Gallery 01"
                          class="h-100 w-100 rounded-lg"
                          style="aspect-ratio: 16/9; object-fit: cover;"
                        />
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </section>
              <section class="pb-8 px-6 pt-5 bg-white rounded-lg">
                <h4 class="fs-22 text-heading mb-3">{% trans "Description" %}</h4>
                <p class="mb-0 lh-214">
                  {{ property.description }}
                </p>
              </section>
              <section class="mt-2 pb-3 px-6 pt-5 bg-white rounded-lg">
                <h4 class="fs-22 text-heading mb-6">Facts and Features</h4>
                <div class="row">
                  {% if property.property_type %}
                  <div class="col-lg-3 col-sm-4 mb-6">
                    <div class="media">
                      <div class="p-2 shadow-xxs-1 rounded-lg mr-2" style="width: 52px; height: 52px; display: flex; align-items: center; justify-content: center;">
                        <i class="fas fa-home" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h5
                          class="my-1 fs-14 text-uppercase letter-spacing-093 font-weight-normal"
                        >
                          Type
                        </h5>
                        <p class="mb-0 fs-13 font-weight-bold text-heading">
                          {{ property.property_type|title }}
                        </p>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% if property.area %}
                  <div class="col-lg-3 col-sm-4 mb-6">
                    <div class="media">
                      <div class="p-2 shadow-xxs-1 rounded-lg mr-2" style="width: 52px; height: 52px; display: flex; align-items: center; justify-content: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 491.541 491.541" xml:space="preserve" style="width:100%; height: 100%;" fill="currentColor">
                          <g>
                            <path d="M350.373,116.048H24.445C10.942,116.048,0,126.988,0,140.492V466.42c0,13.503,10.942,24.445,24.445,24.445h325.928   c13.503,0,24.444-10.942,24.444-24.445V140.492C374.817,126.988,363.876,116.048,350.373,116.048z M325.928,441.975H48.889V164.936   h277.039V441.975z"/>
                            <path d="M486.695,411.913h-26.513V126.63h26.513c1.958,0,3.724-1.178,4.472-2.991c0.756-1.814,0.342-3.892-1.05-5.283   l-42.802-42.802c-1.894-1.894-4.965-1.894-6.858,0l-42.803,42.802c-1.392,1.392-1.806,3.469-1.05,5.283   c0.749,1.813,2.515,2.991,4.473,2.991h26.513v285.283h-26.513c-1.958,0-3.724,1.177-4.473,2.991   c-0.755,1.815-0.342,3.893,1.05,5.285l42.803,42.802c1.893,1.894,4.965,1.894,6.858,0l42.802-42.802   c1.393-1.392,1.807-3.469,1.05-5.285C490.419,413.09,488.654,411.913,486.695,411.913z"/>
                            <path d="M70.676,94.563c1.392,1.392,3.469,1.806,5.284,1.05c1.814-0.747,2.992-2.514,2.992-4.472V64.628h285.283v26.513   c0,1.958,1.177,3.725,2.991,4.472c1.814,0.756,3.891,0.342,5.284-1.05l42.802-42.802c1.894-1.895,1.894-4.967,0-6.86L372.51,2.1   c-1.393-1.393-3.469-1.807-5.284-1.051c-1.814,0.748-2.991,2.514-2.991,4.472v26.515H78.952V5.521c0-1.957-1.177-3.724-2.992-4.472   c-1.814-0.756-3.892-0.342-5.284,1.051L27.875,44.901c-1.894,1.893-1.894,4.965,0,6.86L70.676,94.563z"/>
                          </g>
                        </svg>
                      </div>
                      <div class="media-body">
                        <h5
                          class="my-1 fs-14 text-uppercase letter-spacing-093 font-weight-normal"
                        >
                          m<sup>2</sup>
                        </h5>
                        <p class="mb-0 fs-13 font-weight-bold text-heading">
                          {{ property.area }}
                        </p>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% if property.bedrooms %}
                  <div class="col-lg-3 col-sm-4 mb-6">
                    <div class="media">
                      <div class="p-2 shadow-xxs-1 rounded-lg mr-2" style="width: 52px; height: 52px; display: flex; align-items: center; justify-content: center;">
                        <i class="fa fa-bed" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h5
                          class="my-1 fs-14 text-uppercase letter-spacing-093 font-weight-normal"
                        >
                          Bedrooms
                        </h5>
                        <p class="mb-0 fs-13 font-weight-bold text-heading">
                          {{ property.bedrooms }}
                        </p>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% if property.total_rooms %}
                  <div class="col-lg-3 col-sm-4 mb-6">
                    <div class="media">
                      <div class="p-2 shadow-xxs-1 rounded-lg mr-2" style="width: 52px; height: 52px; display: flex; align-items: center; justify-content: center;">
                        <i class="fas fa-door-open" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h5
                          class="my-1 fs-14 text-uppercase letter-spacing-093 font-weight-normal"
                        >
                          Rooms
                        </h5>
                        <p class="mb-0 fs-13 font-weight-bold text-heading">
                          {{ property.total_rooms }}
                        </p>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </section>
              <section class="mt-2 pb-6 px-6 pt-5 bg-white rounded-lg">
                <h4 class="fs-22 text-heading mb-4">Additional Details</h4>
                <div class="row">
                  {% if property.property_id %}
                  <dl class="col-sm-6 mb-0 d-flex">
                    <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">
                      Property ID
                    </dt>
                    <dd>{{ property.property_id }}</dd>
                  </dl>
                  {% endif %}
                  {% if property.price %}
                  <dl class="col-sm-6 mb-0 d-flex">
                    <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">
                      Price
                    </dt>
                    <dd>{{ property.price }}</dd>
                  </dl>
                  {% endif %}
                  {% if property.property_type %}
                  <dl class="col-sm-6 mb-0 d-flex">
                    <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">
                      Property type
                    </dt>
                    <dd>{{ property.property_type|title }}</dd>
                  </dl>
                  {% endif %}
                  {% if property.total_rooms %}
                  <dl class="col-sm-6 mb-0 d-flex">
                    <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">
                      Rooms
                    </dt>
                    <dd>{{ property.total_rooms }}</dd>
                  </dl>
                  {% endif %}
                  {% if property.bedrooms %}
                  <dl class="col-sm-6 mb-0 d-flex">
                    <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">
                      Bedrooms
                    </dt>
                    <dd>{{ property.bedrooms }}</dd>
                  </dl>
                  {% endif %}
                  {% if property.area %}
                  <dl class="col-sm-6 mb-0 d-flex">
                    <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">
                      Area
                    </dt>
                    <dd>{{ property.area }}</dd>
                  </dl>
                  {% endif %}
                </div>
              </section>
              <section class="mt-2 pb-7 px-6 pt-5 bg-white rounded-lg">
                <h4 class="fs-22 text-heading mb-4">Offices Amenities</h4>
                <ul class="list-unstyled mb-0 row no-gutters">
                  {% for item in property.features %}
                  <li class="col-sm-3 col-6 mb-2">
                    <i class="far fa-check mr-2 text-primary"></i>{{ item|title }}
                  </li>
                  {% endfor %}
                </ul>
              </section>
              {% if property.get_youtube_url %}
              <section class="mt-2 pb-6 px-6 pt-6 bg-white rounded-lg">
                <h4 class="fs-22 text-heading mb-6">Virtual Tour</h4>
                <iframe
                  height="430"
                  src="{{ property.get_youtube_url }}"
                  allowfullscreen=""
                  class="w-100"
                >
                </iframe>
              </section>
              {% endif %}
              <section class="mt-2 pb-6 px-6 pt-6 bg-white rounded-lg">
                <h4 class="fs-22 text-heading mb-6">Location</h4>
                <div class="position-relative">
                  <div class="position-relative">
                    <div
                      id="map"
                      class="mapbox-gl map-point-animate"
                      data-mapbox-access-token="pk.eyJ1IjoibHVrYWRhdGFjeSIsImEiOiJjbWFtZWs5c3EwZzV5MnBzNGVzdXk0cXNiIn0.tfUSq0hYimUnpRBZCHvJKg"
                      data-mapbox-options='{"center":[41.636237224128195, 41.65211072506244],"setLngLat":[41.636237224128195, 41.65211072506244]}'
                      data-mapbox-marker='[{"position":[41.636237224128195, 41.65211072506244],"className":"marker","backgroundImage":"{% static 'images/googlle-market-01.png' %}","backgroundRepeat":"no-repeat","width":"30px","height":"40px"}]'
                    ></div>
                    <p
                      class="mb-0 p-3 bg-white shadow rounded-lg position-absolute pos-fixed-bottom mb-4 ml-4 lh-17 z-index-2"
                    >
                      {{ property.city }} <br />
                      {{ property.address }}
                    </p>
                  </div>
                </div>
              </section>
              {% if similar_properties|length > 0 %}
              <section class="mt-2 pb-7 px-6 pt-6 bg-white rounded-lg">
                <h4 class="fs-22 text-heading mb-6">
                  Similar Homes You May Like
                </h4>
                <div
                  class="slick-slider"
                  data-slick-options='{"slidesToShow": 2, "dots":false,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow":2,"arrows":false}},{"breakpoint": 992,"settings": {"slidesToShow":2}},{"breakpoint": 768,"settings": {"slidesToShow": 1}},{"breakpoint": 576,"settings": {"slidesToShow": 1}}]}'
                >
                  {% for item in similar_properties %}
                  <div class="box">
                    {% include "homeid/components/home-listing-box.html" %}
                  </div>
                  {% endfor %}
                </div>
              </section>
              {% endif %}
            </article>
            <aside
              class="col-lg-4 pl-xl-4 primary-sidebar sidebar-sticky"
              id="sidebar"
            >
              <div class="primary-sidebar-inner">
                <div class="bg-white rounded-lg py-lg-6 pl-lg-6 pr-lg-3 p-4">
                  <ul class="list-inline d-sm-flex align-items-sm-center mb-2">
                    {% if property.featured %}
                    <li class="list-inline-item badge badge-orange mr-2">
                      Featured
                    </li>
                    {% endif %}
                    {% if property.deal_type == "SALE" %}
                    <li class="list-inline-item badge badge-primary mr-3">
                      For Sale
                    </li>
                    {% endif %}
                    {% if property.deal_type == "RENT" %}
                    <li class="list-inline-item badge badge-primary mr-3">
                      For Rent
                    </li>
                    {% endif %}
                  </ul>
                  <h2 class="fs-22 text-heading pt-2">
                    {{ property.name }}
                  </h2>
                  <p class="mb-2">
                    <i class="fal fa-map-marker-alt mr-1"></i>{{ property.city|title }}, {{ property.address }}
                  </p>
                  <div class="d-flex align-items-center">
                    <p class="fs-22 text-heading font-weight-bold mb-0 mr-6">
                      {{ property.price }}
                      {% if property.currency %}
                        {{ property.currency }}
                      {% else %}
                        USD
                      {% endif %}
                    </p>
                    <p class="mb-0">
                      {{ property.price_per_sqm }}
                      {% if property.currency %}
                        {{ property.price_per_area }}
                      {% else %}
                        USD
                      {% endif %}
                    </p>
                  </div>
                  <div class="row mt-5">
                    {% if property.bedrooms %}
                    <div class="col-6 mb-3">
                      <div class="media">
                        <div class="p-2 shadow-xxs-1 rounded-lg mr-2 lh-1" style="width: 38px; height: 38px; display: flex; align-items: center; justify-content: center;">
                          <i class="fa fa-bed" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h5 class="fs-13 font-weight-normal mb-0">
                            {% trans "Bedrooms" %}
                          </h5>
                          <p class="mb-0 fs-13 font-weight-bold text-dark">
                            {{ property.bedrooms }}
                          </p>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if property.total_rooms %}
                    <div class="col-6 mb-3">
                      <div class="media">
                        <div class="p-2 shadow-xxs-1 rounded-lg mr-2 lh-1" style="width: 38px; height: 38px; display: flex; align-items: center; justify-content: center;">
                          <i class="fas fa-door-open" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h5 class="fs-13 font-weight-normal mb-0">
                            {% trans "Rooms" %}
                          </h5>
                          <p class="mb-0 fs-13 font-weight-bold text-dark">
                            {{ property.total_rooms }}
                          </p>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    <div class="col-6 mb-3">
                      <div class="media">
                        <div class="p-2 shadow-xxs-1 rounded-lg mr-2 lh-1" style="width: 38px; height: 38px; display: flex; align-items: center; justify-content: center;">
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 491.541 491.541" xml:space="preserve" style="width:100%; height: 100%;" fill="currentColor">
                            <g>
                              <path d="M350.373,116.048H24.445C10.942,116.048,0,126.988,0,140.492V466.42c0,13.503,10.942,24.445,24.445,24.445h325.928   c13.503,0,24.444-10.942,24.444-24.445V140.492C374.817,126.988,363.876,116.048,350.373,116.048z M325.928,441.975H48.889V164.936   h277.039V441.975z"/>
                              <path d="M486.695,411.913h-26.513V126.63h26.513c1.958,0,3.724-1.178,4.472-2.991c0.756-1.814,0.342-3.892-1.05-5.283   l-42.802-42.802c-1.894-1.894-4.965-1.894-6.858,0l-42.803,42.802c-1.392,1.392-1.806,3.469-1.05,5.283   c0.749,1.813,2.515,2.991,4.473,2.991h26.513v285.283h-26.513c-1.958,0-3.724,1.177-4.473,2.991   c-0.755,1.815-0.342,3.893,1.05,5.285l42.803,42.802c1.893,1.894,4.965,1.894,6.858,0l42.802-42.802   c1.393-1.392,1.807-3.469,1.05-5.285C490.419,413.09,488.654,411.913,486.695,411.913z"/>
                              <path d="M70.676,94.563c1.392,1.392,3.469,1.806,5.284,1.05c1.814-0.747,2.992-2.514,2.992-4.472V64.628h285.283v26.513   c0,1.958,1.177,3.725,2.991,4.472c1.814,0.756,3.891,0.342,5.284-1.05l42.802-42.802c1.894-1.895,1.894-4.967,0-6.86L372.51,2.1   c-1.393-1.393-3.469-1.807-5.284-1.051c-1.814,0.748-2.991,2.514-2.991,4.472v26.515H78.952V5.521c0-1.957-1.177-3.724-2.992-4.472   c-1.814-0.756-3.892-0.342-5.284,1.051L27.875,44.901c-1.894,1.893-1.894,4.965,0,6.86L70.676,94.563z"/>
                            </g>
                          </svg>
                        </div>
                        <div class="media-body">
                          <h5 class="fs-13 font-weight-normal mb-0">Area</h5>
                          <p class="mb-0 fs-13 font-weight-bold text-dark">
                            {{ property.area }} m<sup>2</sup>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="mb-6 mt-1">
                    {{ property.property_type|title }} {{ property.name }} {% trans "is now available to buy off plan in" %}
                    {{ property.city|title }}, {{ property.address }}
                  </p>
                  <div class="mr-xl-2">
                    <a
                      href="tel:{{ property.agent_phone }}"
                      class="btn btn-primary btn-lg btn-block"
                      >Get Sellers Number</a
                    >
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
      <section>
        <div
          class="d-flex bottom-bar-action bottom-bar-action-01 py-2 px-4 bg-gray-01 align-items-center position-fixed fixed-bottom d-sm-none"
        >
          <div class="media align-items-center">
            <img
              src="{% static 'images/irene-wallace.png' %}"
              alt="Irene Wallace"
              class="mr-4 rounded-circle"
            />
            <div class="media-body">
              <a href="#" class="d-block text-dark fs-15 font-weight-500 lh-15"
                >Irene Wallace</a
              >
              <span class="fs-13 lh-2">Sales Excutive</span>
            </div>
          </div>
          <div class="ml-auto">
            <a
              href="tel:(+84)2388-969-888"
              class="btn btn-primary fs-18 p-2 lh-1 mb-1 shadow-none"
              target="_blank"
              ><i class="fal fa-phone"></i
            ></a>
          </div>
        </div>
      </section>
    </main>
{% endblock %}